{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="container">
        <div class="heading">
            <h2>Create Listing</h2>
        </div>
        <form action="{% url 'create' %}" method="POST">
            <div class="c_form">
                {% csrf_token %}
                <div class="c_row">
                    <div class="row-left">
                        <label for="title">Title <span class="star">*</span></label>
                    </div>
                    <div class="row-right">
                        <input type="text" name="title" required="required" placeholder="Enter title here">
                    </div>
                </div>
                <div class="c_row">
                    <div class="row-left">
                        <label for="category">Category</label>
                    </div>
                    <div class="row-right">
                        <select name="category">
                            <option disabled selected value>-- Select an option --</option>
                            <option value="MOT">Motors</option>
                            <option value="ELN">Electronics</option>
                            <option value="FSH">Fashion</option>
                            <option value="BMM">Books, Movies & Music</option>
                            <option value="CTA">Collectibles & Art</option>
                            <option value="HGN">Home & Garden</option>
                            <option value="SPG">Sporting Goods</option>
                            <option value="THB">Toys & Hobbies</option>
                            <option value="BID">Business & Industrial</option>
                            <option value="HLB">Health & Beauty</option>
                            <option value="OTH">Others</option>
                        </select>
                    </div>
                </div>
                <div class="c_row">
                    <div class="row-left">
                        <label for="condition">Condition <span class="star">*</span></label>
                    </div>
                    <div class="row-right">
                        <select name="condition" required="required">
                            <option disabled selected value>-- Select an option --</option>
                            <option value="New">New</option>
                            <option value="Used">Used</option>
                        </select>
                    </div>
                </div>
                <div class="c_row">
                    <div class="row-left">
                        <label for="description">Description <span class="star">*</span></label>
                    </div>
                    <div class="row-right">
                        <textarea name="description" cols="70" rows="5" required="required" placeholder="Add description here.."></textarea>
                    </div>
                </div>
                <div class="c_row">
                    <div class="row-left">
                        <label for="image">Image URL</label>
                    </div>
                    <div class="row-right">
                        <input type="text" name="image" placeholder="e.g., auctions/Images/Listings/image.png">
                    </div>
                </div>
                <div class="c_row">
                    <div class="row-left">
                        <label for="s_bid">Starting Bid (USD) <span class="star">*</span></label>
                    </div>
                    <div class="row-right">
                        <input type="number" step="0.1" min="1.00" name="s_bid" required="required" placeholder="e.g., 50.0">
                    </div>
                </div>
                <div class="c_row">
                    <div class="row-left"></div>
                    <div class="row-right">
                        <input type="submit" value="List item" class="btn create-btn Button">
                        &nbsp;
                        <a href="{% url 'index' %}" class="btn create-btn" id="cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}